---
import Layout from "../../layouts/Layout.astro";
import SeccionImagenGeneral from "../../components/seccion_imagen_general.astro"
import logoMultiPagina from "../../assets/logo_multi_pagina.png";
---

<Layout>
  <main>
    <SeccionImagenGeneral titulo="" imagen={logoMultiPagina} />
  </main>
</Layout>