---
import Layout from "../../layouts/Layout.astro";
import SeccionImagenGeneral from "../../components/seccion_imagen_general.astro"
import logoMultiPagina from "../../assets/logo_multi_pagina.png";
import SeccionSobreNosotros from "../../components/componentes_nosotros/seccion_sobre_nosotros.astro"
---

<Layout>
  <main>
    <!-- <SeccionImagenGeneral titulo="" imagen={logoMultiPagina} /> -->
     <SeccionSobreNosotros />
  </main>
</Layout>