---
const { plumaEditorial, remi } = Astro.props;
---

<section id="seccionEditorial" class="py-8 bg-white text-center">
  <div class="container mx-auto">
    <div
      id="titulo_editorial"
      class="w-full flex justify-center items-center pb-8 mt-8 transition-all duration-1000 opacity-0 translate-y-8"
    >
      <h2
        class="text-2xl sm:text-xl md:text-2xl lg:text-4xl font-bold text-gray-800 mt-10"
      >
        REMI
      </h2>
      <img
        src={plumaEditorial.src}
        alt="Logo remi"
        class="w-18 sm:w-18 md:w-18 lg:w-24 h-auto"
      />
    </div>
    <div
      id="parrafo_editorial"
      class="px-6 flex flex-col justify-center items-center text-center rounded-lg shadow-none transition-all duration-1000 opacity-0 translate-y-8"
    >
      <p class="text-sm md:text-lg lg:text-2xl text-gray-800 pb-10">
        <span class="text-[#283886] font-bold">REMI</span> es una revista de Acceso
        Abierto, semestral, gratuita, revisada por pares evaluadores, que acepta
        de forma continua manuscritos de carácter multidisciplinario, sin costo de
        publicación para los autores.
      </p>
    </div>
    <div
      id="editorial_imagen"
      class="w-full shadow-none transition-all duration-1000 opacity-0 translate-y-8"
    >

    <a href="/publicaciones/remi">
      <img src={remi.src} alt="Portada revista remi" class="mx-auto" />

      </a>
    </div>
  </div>
</section>

<script>
  const targets = document.querySelectorAll(
    "#titulo_editorial, #titulo, #parrafo_editorial, #editorial_imagen"
  );

  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.remove("opacity-0", "translate-y-8");
          entry.target.classList.add("opacity-100", "translate-y-0");
        }
      });
    },
    {
      threshold: 0.1,
    }
  );

  targets.forEach((target) => observer.observe(target));
</script>
