---
import plumaEditorial from "../../assets/logos/pluma-editorial.png";
import Carrusel3D from "./Carrusel3d.vue";
---

<section id="seccionEditorial" class="py-8 bg-white text-center">
  <div class="container mx-auto">
    <div
      id="titulo"
      class="font-bold text-[#283886] bg-[#F5F5F5] m-auto p-2 rounded-2xl w-48 transition-all duration-1000 opacity-0 translate-y-8"
    >
      <h4 class="font-light">Puplicaciones</h4>
      <h4 class="font-extrabold">CIMU</h4>
    </div>
    <div
      id="titulo_editorial"
      class="w-full flex justify-center items-center pb-8 transition-all duration-1000 opacity-0 translate-y-8"
    >
      <h2
        class="text-2xl sm:text-xl md:text-2xl lg:text-4xl font-bold text-gray-800 mt-10"
      >
        Multidisciplinaria Editorial
      </h2>
      <img
        src={plumaEditorial.src}
        alt="Logo editorial"
        class="w-18 sm:w-18 md:w-18 lg:w-24 h-auto"
      />
    </div>
    <div
      id="parrafo_editorial"
      class="px-6 flex flex-col justify-center items-center text-center rounded-lg shadow-none transition-all duration-1000 opacity-0 translate-y-8"
    >
      <p class="text-sm md:text-lg lg:text-2xl text-gray-800 pb-10">
        La <span class="text-[#283886] font-bold"
          >Multidisciplinaria Editorial</span
        > se dedica a la publicación de investigaciones, estudios y contenidos académicos
        que abarcan diversas áreas del conocimiento. A través de un enfoque colaborativo,
        promovemos el intercambio de ideas y la difusión de conocimientos relevantes
        que contribuyan al avance científico y social en nuestra región.
      </p>
    </div>
  </div>
  <div
    id="libros"
    class="relative bg-gradient-to-b from-[#283886] h-[500px] overflow-hidden transition-all duration-1000 opacity-0 translate-y-8"
  >
    <Carrusel3D client:load />
  </div>
</section>

<script>
  const targets = document.querySelectorAll(
    "#titulo_editorial, #titulo, #parrafo_editorial, #libros"
  );

  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.remove("opacity-0", "translate-y-8");
          entry.target.classList.add("opacity-100", "translate-y-0");
        }
      });
    },
    {
      threshold: 0.1,
    }
  );

  targets.forEach((target) => observer.observe(target));
</script>
