---
const { centroInvestigacion,investigador1 }  = Astro.props;
---

<section id="seccionCentroInvestigacion" class="py-8 bg-white text-center">
  <div class="container mx-auto">
    <div
      id="titulo_centro_investigacion"
      class="relative bg-white text-md md:text-md lg:text-md font-semibold text-gray-900 mt-10 transition-all duration-1000 opacity-0 translate-y-8"
    >
      <div
        class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-[#EDE9FE] p-3 rounded-2xl text-[#283886] w-61 text-xs sm:w-61 sm:text-xs"
      >
        <p>Centro de Investigación</p>
        <p class="font-bold">Multidisciplinaria FMOOcc UES - CIMU</p>
      </div>
    </div>

    <div
      id="texto_centro_investigacion"
      class="p-6 flex flex-col justify-center items-center text-center rounded-lg shadow-none transition-all duration-1000 opacity-0 translate-y-8"
    >
      <p
        class="text-2xl sm:text-xl md:text-2xl lg:text-4xl font-bold text-gray-800 mt-10"
      >
        Impulsando el Conocimiento para Transformar la Sociedad
      </p>

      <div class="flex flex-col lg:flex-row items-center gap-8 mt-10">
        <div id="imagen_detalle" class="w-full lg:w-1/2">
          <img
            src={centroInvestigacion.src}
            alt="Imagen del CIMU"
            class="w-full h-auto rounded-lg shadow-md transform transition-transform duration-300 hover:scale-105"
          />
        </div>

        <div id="texto_detalle" class="w-full lg:w-1/2">
          <p
            class="text-sm md:text-lg lg:text-2xl text-gray-800 text-center lg:text-left"
          >
            La investigación científica es clave para el desarrollo social y
            académico. Como parte del compromiso con la generación de
            conocimiento, la
            <span class="text-[#283886] font-bold"
              >Facultad Multidisciplinaria de Occidente de la UES</span
            >
            ha creado el
            <span class="text-[#283886] font-bold"
              >Centro de Investigación Multidisciplinaria (CIMU - FMOcc UES)</span
            >, un espacio dedicado a la búsqueda de soluciones innovadoras para
            los desafíos más urgentes de nuestra región.
          </p>
        </div>
      </div>
    </div>

    <div
      id="segundo_texto_centro_investigacion"
      class="p-6 flex flex-col justify-center items-center text-center rounded-lg shadow-none transition-all duration-1000 opacity-0 translate-y-8"
    >
      <p
        class="text-2xl sm:text-xl md:text-2xl lg:text-4xl font-bold text-gray-800 mt-10"
      >
        Nuestra Esencia y Compromiso
      </p>

      <p class="text-sm md:text-lg lg:text-2xl text-gray-800 text-center mt-5">
        En el <span class="text-[#283886] font-bold"
          >Centro de Investigación Multidisciplinaria (CIMU - FMOcc UES)</span
        > creemos en el poder del conocimiento para cambiar realidades.
      </p>
    </div>

    <div
      id="tercer_texto_centro_investigacion"
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mt-5 px-4 transition-all duration-1000 opacity-0 translate-y-8"
    >
      <div class="flex flex-col h-full w-full max-w-md mx-auto transform transition-transform duration-300 hover:scale-105">
        <div class="borde-giratorio">
          <div
            class="contenido card bg-transparent text-black h-full flex flex-col rounded-2xl min-h-[220px] "
          >
            <div class="card-body flex-grow p-4">
              <h2 class="card-title ">Misión</h2>
              <p>
                “Somos un centro de investigación científico de carácter
                universitario, que realiza investigaciones considerando los
                problemas más relevantes de la realidad regional, nacional e
                internacional. Para lo cual, se dirige hacia la construcción de
                conocimientos que puedan ser insertados al entorno social,
                económico, productivo, cultural y ambiental”
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-col h-full w-full max-w-md mx-auto transform transition-transform duration-300 hover:scale-105">
        <div class="borde-giratorio">
          <div
            class="contenido card bg-transparent rounded-2xl text-black h-full flex flex-col min-h-[220px]"
          >
            <div class="card-body flex-grow p-4">
              <h2 class="card-title">Visión</h2>
              <p class="mt-2">
                “Ser un referente académico sobre los temas de interés
                relacionados a la problemática regional, nacional e
                internacional; con el aporte de conocimiento científico que
                pueda ser insertado a la propuesta de soluciones y contribuir
                así al desarrollo social y el bienestar colectivo.”
              </p>
            </div>
          </div>
        </div>
      </div>

      <div
        class="flex flex-col h-full w-full max-w-md sm:col-span-2 lg:col-span-1 mx-auto transform transition-transform duration-300 hover:scale-105"
      >
        <div class="borde-giratorio">
          <div
            class="contenido card bg-transparent rounded-2xl text-black h-full flex flex-col min-h-[220px]"
          >
            <div class="card-body flex-grow p-4">
              <h2 class="card-title mb-5">Valores</h2>
              <ul
                class="grid grid-cols-2 gap-x-4 gap-y-8 list-disc list-inside text-left"
              >
                <li>Ética</li>
                <li>Compromiso social</li>
                <li>Pertinencia</li>
                <li>Sinergia</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>  
    <div
      id="cuarto_texto_centro_investigacion"
      class="p-6 flex flex-col justify-center items-center text-center rounded-lg shadow-none transition-all duration-1000 opacity-0 translate-y-8 mt-8"
    >
      <p class="text-2xl sm:text-xl md:text-2xl lg:text-4xl font-bold text-gray-800 mt-10">
        Equipo de Investigación del CIMU - FMOcc - UES
      </p>

      <p class="text-sm md:text-lg lg:text-2xl text-gray-800 text-center mt-5">
        El quipo de investigación del <span class="text-[#283886] font-bold">CIMU - FMOcc UES</span>
        está compuesto por profesionales dedicados que, con su experiencia y pasión,
        abordan los desafíos más relevantes a través de la investigación multidisciplinaria,
        generando soluciones innovadoras con un impacto real en la sociedad.
      </p>
    </div>
  </div>
</section>

<script>
  const targets = document.querySelectorAll(
    "#titulo_centro_investigacion, #texto_centro_investigacion, #segundo_texto_centro_investigacion, #tercer_texto_centro_investigacion, #cuarto_texto_centro_investigacion, #quinto_texto_centro_investigacion"
  );

  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.remove("opacity-0", "translate-y-8");
          entry.target.classList.add("opacity-100", "translate-y-0");
        }
      });
    },
    {
      threshold: 0.1,
    }
  );

  targets.forEach((target) => observer.observe(target));
</script>

<style>
  @keyframes girarBorde {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 360% 50%;
    }
  }

  .borde-giratorio {
    position: relative;
    border-radius: 1rem; /* mismo que rounded-2xl */
    padding: 2px; /* espacio para el borde animado */
    background: linear-gradient(270deg, #ffffff, #283886, #ffffff, #283886);
    background-size: 400% 400%;
    animation: girarBorde 8s linear infinite;
  }

  .borde-giratorio > .contenido {
    background: white; /* o transparente si quieres */
    border-radius: 1rem;
    height: 100%;
    width: 100%;
  }

  @keyframes spin-gradient {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .animate-spin-gradient {
    background: conic-gradient(
      from 0deg,
      #283886,
      #ffffff,
      #283886,
      #ffffff,
      #283886
    );
    animation: spin-gradient 5s linear infinite;
  }
</style>
