---
const { titulo } = Astro.props;
---

<section id="seccionImagenesInicio">
  <div class="relative w-full overflow-hidden">
    <!-- Texto fijo -->
    <div
      class="absolute bottom-4 left-4 md:bottom-20 md:left-10 z-20 text-white max-w-xs md:max-w-xl"
    >
      <h1 class="text-xl sm:text-xl md:text-4xl font-bold">
        {titulo}
      </h1>
    </div>

    <!-- Carrusel con imagen duplicada al final -->
    <div
      id="carousel"
      class="flex transition-transform duration-1000 ease-in-out h-[40vh] sm:h-[50vh] lg:h-screen"
    >
      <div class="w-full flex-shrink-0">
        <img
          src="/src/assets/imagen_inicio_1.png"
          class="w-full h-full object-cover"
        />
      </div>
      <div class="w-full flex-shrink-0">
        <img
          src="/src/assets/imagen_inicio_1.png"
          class="w-full h-full object-cover"
        />
      </div>
      <div class="w-full flex-shrink-0">
        <img
          src="/src/assets/imagen_inicio_1.png"
          class="w-full h-full object-cover"
        />
      </div>
      <!-- duplicado de la primera -->
      <div class="w-full flex-shrink-0">
        <img
          src="/src/assets/imagen_inicio_1.png"
          class="w-full h-full object-cover"
        />
      </div>
    </div>
  </div>
</section>

<script>
   document.addEventListener("DOMContentLoaded", () => {
    const track = document.getElementById("carousel");
    const totalSlides = 3;
    let index = 0;

    function goToSlide(i, animate = true) {
      track.style.transitionDuration = animate ? "1000ms" : "0ms";
      track.style.transform = `translateX(-${i * 100}%)`;
    }

    setInterval(() => {
      index++;
      goToSlide(index);

      if (index === totalSlides) {
        setTimeout(() => {
          goToSlide(0, false);
          index = 0;
        }, 1000);
      }
    }, 5000);
  });
</script>
