---
import Layout from "../../layouts/Layout.astro";
import SeccionImagenGeneral from "../../components/seccion_imagen_general.astro";
import logoMultiPagina from "../../assets/logo_multi_pagina.png";
import SeccionEditorialMultidisciplinaria from "../../components/componentes_multidisciplinaria_editorial/seccion_puplicaiones_multidisciplinaria.astro";
---

<Layout>
  <main>
    <SeccionImagenGeneral titulo="" imagen={logoMultiPagina} />
    <SeccionEditorialMultidisciplinaria />
  </main>
</Layout>
