---
import Layout from "../../layouts/Layout.astro";
import SeccionImagenGeneral from "../../components/seccion_imagen_general.astro"
import logoRemiPagina from "../../assets/remi/logo_remi_pagina.png";
import SeccionRemi from "../../components/componentes_remi/seccion_remi.astro";
---

<Layout>
  <main>
    <SeccionImagenGeneral titulo="" imagen={logoRemiPagina} />
    <SeccionRemi />
  </main>
</Layout>