<section class="p-6">
  <h2 class="text-2xl font-bold mb-6">Panel Administrativo</h2>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <!-- Investigadores -->
    <a
      href="/admin/investigadores"
      class="group border-2 border-blue-600 rounded-2xl p-6 flex flex-col items-center justify-center shadow-md hover:shadow-xl  hover:scale-105 transition bg-white"
    >
      <span
        class="mdi mdi-account-group text-blue-600 text-5xl mb-2 "
      ></span>
      <span class="text-xl font-bold">Investigadores</span>
    </a>

    <!-- Investigaciones -->
    <a
      href="/admin/investigaciones"
      class="group border-2 border-blue-600 rounded-2xl p-6 flex flex-col items-center justify-center shadow-md hover:shadow-xl  hover:scale-105 transition bg-white"
    >
      <span
        class="mdi mdi-file-document text-blue-600 text-5xl mb-2 "
      ></span>
      <span class="text-xl font-bold">Investigaciones</span>
    </a>

    <!-- Gaceta Multidisciplinaria -->
    <a
      href="/admin/gaceta"
      class="group border-2 border-blue-600 rounded-2xl p-6 flex flex-col items-center justify-center shadow-md hover:shadow-xl  hover:scale-105 transition bg-white"
    >
      <span
        class="mdi mdi-book-open-page-variant text-blue-600 text-5xl mb-2 "
      ></span>
      <span class="text-xl font-bold text-center"
        >Gaceta Multidisciplinaria</span
      >
    </a>

    <!-- Multidisciplinaria Editorial -->
    <a
      href="/admin/editorial"
      class="group border-2 border-blue-600 rounded-2xl p-6 flex flex-col items-center justify-center shadow-md hover:shadow-xl  hover:scale-105 transition bg-white"
    >
      <span
        class="mdi mdi-school-outline text-blue-600 text-5xl mb-2 "
      ></span>
      <span class="text-xl font-bold text-center"
        >Multidisciplinaria Editorial</span
      >
    </a>

    <!-- Carrusel de Imágenes -->
    <a
      href="/admin/carrusel"
      class="group border-2 border-blue-600 rounded-2xl p-6 flex flex-col items-center justify-center shadow-md hover:shadow-xl hover:scale-105 transition bg-white"
    >
      <span
        class="mdi mdi-image-multiple text-blue-600 text-5xl mb-2 "
      ></span>
      <span class="text-xl font-bold text-center">Carrusel de Imágenes</span>
    </a>
  </div>
</section>
