---
import Layout from '../../layouts/Layout_investigaciones.astro'
import VistaInvestigacion from '../../components/componentes_programa_investigacion/VistaInvestigacion.vue';

const { id } = Astro.params
if (!id) {
  return Astro.redirect('/404')
}
---

<Layout>
  <main class="px-6 py-20 max-w-4xl mx-auto">
    <VistaInvestigacion id={id} client:load />
  </main>
</Layout>
