  ---
  import Layout from "../../layouts/Layout.astro";
  import InvestigacionesComponent from "../../components/componentes_programa_investigacion/InvestigacionesComponent.vue";

  const filtro = Astro.url.searchParams.get('programa') ?? '';
  const modo = Astro.url.searchParams.get('modo') ?? 'todo';
  ---

  <Layout>
    <main>
      <InvestigacionesComponent client:load/>>
    </main>

  </Layout>

