---
import Layout from "../../layouts/Layout.astro";
import SeccionImagenGeneral from "../../components/seccion_imagen_general.astro";
import logoProgramaInvestigacionesPagina from "../../assets/logo_programa_investigaciones.png";
---

<Layout>
  <main>
    <SeccionImagenGeneral titulo="" imagen={logoProgramaInvestigacionesPagina} />
  </main>
</Layout>
