---
import LayoutAdmin from "../layouts/Layout_admin.astro";
import SeccionInvestigadorAdmin from "../components/componentes_admin/seccion_investigador_admin.astro"
---

<LayoutAdmin>
  <main>
    <SeccionInvestigadorAdmin/>
  </main>
</LayoutAdmin>