---
import Layout from "../layouts/Layout.astro";
import SeccionImagenGeneral from "../components/seccion_imagen_general.astro"
import SeccionContactenos from "../components/componentes_contactenos/seccion_contactenos.astro";
---

<Layout>
  <main>
    <SeccionImagenGeneral titulo="" imagen="/src/assets/logo_contactenos_pagina.jpg" />
    <SeccionContactenos />
  </main>
</Layout>