---
import Layout from "../layouts/Layout_investigaciones.astro";
import SeccionContactenos from "../components/componentes_contactenos/seccion_contactenos.astro";


---

<Layout>
  <main>
    <SeccionContactenos />
  </main>
</Layout> 