---
import Layout from "../layouts/Layout.astro";
import SeccionImagenGeneral from "../components/seccion_imagen_general.astro"
import SeccionContactenos from "../components/componentes_contactenos/seccion_contactenos.astro";
---

<Layout>
  <main>
    <SeccionImagenGeneral titulo="Contáctenos" imagen="/src/assets/imagen_inicio_1.png" />
    <SeccionContactenos />
  </main>
</Layout>