---
import Layout from "../layouts/Layout.astro";
import SeccionImagenesInicio from "../components/seccion_imagenes_inicio.astro";
import SeccionContactenos from "../components/componentes_contactenos/seccion_contactenos.astro";
---

<Layout>
  <main>
    <SeccionImagenesInicio titulo="Contáctenos" />
    <SeccionContactenos />
  </main>
</Layout>