---
import Layout from "../layouts/Layout.astro";
import SeccionImagenesInicio from "../components/componentes_pagina_inicio/seccion_imagenes_inicio.astro"
import SeccionCentroInvestigacion from "../components/componentes_pagina_inicio/seccion_centro_investigacion.astro"
import SeccionProgramasInvestigacion from "../components/componentes_pagina_inicio/seccion_programas_investigacion.astro"
---

<Layout>
  <main>
    <!-- <SeccionImagenesInicio/>
    <SeccionCentroInvestigacion/> -->
    <SeccionProgramasInvestigacion/>
  </main>
</Layout>
