---
import Layout from "../layouts/Layout.astro";
import SeccionImagenesInicio from "../components/componentes_pagina_inicio/seccion_imagenes_inicio.astro"
---

<Layout>
  <main>
    <SeccionImagenesInicio/>
  </main>
</Layout>
