---
import Layout from "../layouts/Layout.astro";
import SeccionImagenesInicio from "../components/componentes_pagina_inicio/seccion_imagenes_inicio.astro";
import SeccionCentroInvestigacion from "../components/componentes_pagina_inicio/seccion_centro_investigacion.astro";
import SeccionProgramasInvestigacion from "../components/componentes_pagina_inicio/seccion_programas_investigacion.astro";
import SeccionEditorial from "../components/componentes_pagina_inicio/seccion_editorial.astro";
import SeccionRemi from "../components/componentes_pagina_inicio/seccion_remi.astro";
---

<Layout>
  <main>
    <SeccionImagenesInicio titulo="Centro de Investigación Multidisciplinario FMOcc UES" />
    <SeccionCentroInvestigacion />
    <SeccionProgramasInvestigacion />
    <SeccionEditorial />
    <SeccionRemi />
  </main>
</Layout>
