---
import Layout from "../layouts/Layout.astro";
import SeccionImagenGeneral from "../components/seccion_imagen_general.astro"
---

<Layout>
  <main>
    <SeccionImagenGeneral titulo="" imagen="/src/assets/logo_multi_pagina.png" />
  </main>
</Layout>