---
import Layout from "../layouts/Layout.astro";
import SeccionImagenGeneral from "../components/seccion_imagen_general.astro"
import logoRemiPagina from "../assets/logo_remi_pagina.png";
---

<Layout>
  <main>
    <SeccionImagenGeneral titulo="" imagen={logoRemiPagina} />
  </main>
</Layout>