---
import Logo from "../assets/astro.svg";
---
<section id="footer" class=" bg-base-100 text-base-content p-5 ">
<footer >
    <div class="footer sm:footer-horizontal px-10 mt-5">
        <aside>
            <div class="flex items-center space-x-4">
              <img src={Logo.src} alt="Logo" class="h-10 md:h-8 lg:h-10 xl:h-15" />
        
              <p class="text-md sm:text-md md:text-xl font-bold lg:text-3xl">NoFaltes App</p>
            </div>
            <p class="text-sm lg:text-lg sm:px-10 md:px-10 lg:px-15">
              Asistencia digital, rápida y sin complicaciones
            </p>
          </aside>
          <nav>
            <h6 class="footer-title">Legal</h6>
            <a href="/Terminos_de_uso" class="link link-hover">Términos de uso</a>
            <a href="/Politica_de_privacidad" class="link link-hover">Política de privacidad</a>
          </nav>
    </div>
  <div class="text-center mt-10 text-sm text-gray-500 ">
    <p>&copy; 2025 NoFaltes App. Todos los derechos reservados.</p>
  </div>
</footer>
</section>
