<header>
  <nav class="navbar absolute top-0 left-0 z-10 w-full flex justify-center">
    <div class="w-[90%] flex justify-between items-center">
      <div class="flex gap-14">
        <picture>
          <img src="/src/assets/logo-ues-blanco.png" alt="" class="w-16" />
        </picture>
        <picture>
          <img src="/src/assets/logo-cimu.png" alt="" />
        </picture>
      </div>
      <div class="flex">
        <ul class="menu menu-horizontal px-1 text-white text-xl font-medium">
          <li><a>Inicio</a></li>
          <li><a>Investigación</a></li>
          <li><a>Publicaciones</a></li>
          <li><a>Contáctenos</a></li>
         
        </ul>
      </div>
    </div>
  </nav>

  <div
    class="hero min-h-screen"
    style="background-image: url(/src/assets/image1.png);"
  >
    <div class="hero-overlay"></div>
    <div class="hero-content text-neutral-content text-center">
      <div class="max-w-xl">
        <h1 class="mb-5 text-5xl font-bold">Centro de Investigación
Multidisciplinario FMOcc UES</h1>
        
      </div>
    </div>
  </div>
</header>
