---
import cimuLogo from "../assets/cimu.png";
import uesLogoBlanco from "../assets/uesLogoBlanco.svg"
import uesLogoNegro from "../assets/uesLogoRojo.svg"
---
<!-- Se muestra cuando esta en laptop y tablet -->
<header id="mainHeader" class="navbar fixed top-0 left-0 w-full z-50 transition-colors duration-300 bg-transparent text-white shadow-none">
  <div class="flex items-center gap-10 flex-1 ml-4 md:ml-5">
    <a><img id="uesLogo" src={uesLogoBlanco.src} alt="uesLogo" class="h-8 sm:h-8 md:h-10 lg:h-12" /></a>
    <a><img src={cimuLogo.src} alt="cimuLogo" class="h-8 sm:h-8 md:h-10 lg:h-12" /></a>
  </div>

  <!-- Se muestra en laptop y tablet -->
  <div class="flex-none hidden sm:block mr-10 ">
    <ul class="menu menu-horizontal px-1">
      <li><a>Inicio</a></li>
      <li>
        <details>
          <summary>Investigaciones</summary>
          <ul class="bg-base-100 rounded-t-none p-2">
            <li><a>Link 1</a></li>
            <li><a>Link 2</a></li>
          </ul>
        </details>
      </li>
      <li>
        <details>
          <summary>Publicaciones</summary>
          <ul class="bg-base-100 rounded-t-none p-2">
            <li><a>Link 1</a></li>
            <li><a>Link 2</a></li>
          </ul>
        </details>
      </li>
      <li><a>Contáctenos</a></li>
    </ul>
  </div>

  <!-- Se muestra en celular -->
  <div class="flex-none sm:hidden">
    <button class="btn btn-square btn-ghost">
      <span class="mdi mdi-menu text-2xl"></span>
    </button>
  </div>
</header>


<script is:inline>
  const uesLogoNegro = "/src/assets/uesLogoRojo.svg";
  const uesLogoBlanco = "/src/assets/uesLogoBlanco.svg";

  window.addEventListener('scroll', () => {
    const header = document.getElementById('mainHeader');
    const logo = document.getElementById('uesLogo');
    if (!header || !logo) return;

    if (window.scrollY > 50) {
      header.classList.add('bg-white', 'text-black', 'shadow-md');
      header.classList.remove('bg-transparent', 'text-white');
      logo.src = uesLogoNegro;
    } else {
      header.classList.add('bg-transparent', 'text-white');
      header.classList.remove('bg-white', 'text-black', 'shadow-md');
      logo.src = uesLogoBlanco;
    }
  });
</script>