---
const { titulo, imagen } = Astro.props;
---

<section id="seccionImageneGeneral">
  <div class="relative w-full h-[40vh] sm:h-[50vh] lg:h-screen overflow-hidden">
    <div class="absolute bottom-10 left-5 md:bottom-20 md:left-10 lg:bottom-20 lg:left-10 z-20 text-white max-w-xs md:max-w-xl">
      <h1 id="tituloAnimado" class="text-xl sm:text-xl md:text-4xl font-bold animar-zoom-in">
        {titulo}
      </h1>
    </div>
    <img
      src={imagen.src}
      alt="Imagen de inicio"
      class="w-full h-full object-cover"
    />
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const titulo = document.getElementById("tituloAnimado") as HTMLElement;
    setTimeout(() => {
      titulo.classList.add("animado");
    }, 300); 
  });
</script>

<style>
  .animar-zoom-in {
    opacity: 0;
    transform: scale(0.5);
    transition: transform 0.6s ease-out, opacity 0.6s ease-out;
  }

  .animado {
    opacity: 1;
    transform: scale(1);
  }
</style>
