---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>CIMU</title>
    <link
      href="https://cdn.materialdesignicons.com/7.2.96/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <Header />
    <main class="zoom-fade-in-up">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  @keyframes zoomFadeInUp {
    0% {
      opacity: 0;
      transform: translateY(30px) scale(0.95);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  .zoom-fade-in-up {
    animation: zoomFadeInUp 0.7s ease-out;
  }
</style>
