---
import "../styles/global.css";
import NavbarAdmin from "../components/componentes_admin/navbar_admin.astro" 
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Panel Administrativo - CIMU</title>
    <link
      href="https://cdn.materialdesignicons.com/7.2.96/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">

  </head>
  <body>
    <NavbarAdmin />
    <main class="bounce-in-up mt-20">
      <slot />
    </main>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Spectral', serif;
  }

 @keyframes bounceInUp {
  0% {
    opacity: 0;
    transform: translateY(100%) scale(0.9);
  }
  60% {
    opacity: 1;
    transform: translateY(-20px) scale(1.05);
  }
  80% {
    transform: translateY(10px) scale(0.98);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

.bounce-in-up {
  animation: bounceInUp 0.9s cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

</style>