---
import LayoutAdmin from "../../layouts/Layout_admin.astro";
import SeccionImagenesCarrosuelAdmin from "../../components/componentes_admin/apartado_carrousel_imagenes_admin.astro";
---

<LayoutAdmin>
  <main>
    <SeccionImagenesCarrosuelAdmin  />
  </main>  
</LayoutAdmin> 