---
import LayoutAdmin from "../../layouts/Layout_admin.astro";
import SeccionInicioAdmin from "../../components/componentes_admin/apartado_inicio_admin.astro";
---

<LayoutAdmin>
  <main>
    <SeccionInicioAdmin  />
  </main>  
</LayoutAdmin> 