---
import LayoutAdmin from "../../layouts/Layout_admin.astro";
import SeccionMostrarDatosAdmin from "../../components/componentes_admin/mostrarDatos_admin.astro";
---

<LayoutAdmin>
  <main>
    <SeccionMostrarDatosAdmin  />
  </main>  
</LayoutAdmin> 