---
import LayoutAdmin from "../../layouts/Layout_admin.astro";
import ApartadoInvestigacionesAdmin from "../../components/componentes_admin/apartado_investigaciones_admin.vue";
---

<LayoutAdmin>
  <main>
    <ApartadoInvestigacionesAdmin client:load  />
  </main>  
</LayoutAdmin> 