---
import LayoutAdmin from "../../layouts/Layout_admin.astro";
import SeccionInvestigadorAdmin from "../../components/componentes_admin/apartado_investigadores_admin.astro";
---

<LayoutAdmin>
  <main>
    TEXTOS
    <SeccionInvestigadorAdmin client:load />
  </main>  
</LayoutAdmin> 