---
import LayoutAdmin from "../../layouts/Layout_admin.astro";
import SeccionInvestigadoremi from "../../components/componentes_admin/apartado_remi_articulos.vue";
---
<LayoutAdmin>
  <main>
    <SeccionInvestigadoremi client:load />
  </main>  
</LayoutAdmin>


