---
import Layout from "../../layouts/Layout.astro";
import SeccionRemi from "../../components/componentes_remi/seccion_remi.astro";
---

<Layout>
    <main>
        <div class="max-w-4xl mx-auto mt-4 p-4 space-y-4">
            <h1 class="text-2xl font-bold mb-4">
		Equipo editorial
	</h1>
    <b>CONSEJO EDITORIAL</b>
            <ul class="list-disc pl-5 space-y-2 ml-16">
                <li>
                    M.Ed. Roberto Carlos Sigüenza Campos<br /><strong
                        >Director ejecutivo</strong
                    ><br />Facultad Multidisciplinaria de Occidente
                </li>
                <li>
                    Mtro. Walter Fagoaga<br /><strong
                        >Responsable Científico</strong
                    ><br />Facultad Multidisciplinaria de Occidente
                </li>
                <li>
                    Lic. Marvin Obed Mejía Carmona<br /><strong
                        >Director de la Revista
                    </strong><br />Facultad Multidisciplinaria de Occidente
                </li>
                <li>
                    Licda. Patricia Gabriela Marroquín de Sosa<br /><strong
                        >Revisor de Estilo</strong
                    ><br />Facultad Multidisciplinaria de Occidente
                </li>
                <li>
                    Mtro. Manuel Vicente Zometa Bolaños<br /><strong
                        >Coordinador de secciones</strong
                    ><br />Facultad Multidisciplinaria de Occidente
                </li>
                <li>
                    Lic. Moisés Alberto Salazar Bermúdez<br />Arq. Nataly Andrea
                    Monterroza Landaverde<br />Arq. Víctor Eduardo Méndez
                    Granadino<br /><strong>Diseño y diagramación</strong>
                </li>
            </ul>
        </div>
    </main>
</Layout>
