---
import Layout from "../../layouts/Layout.astro";
import SeccionRemi from "../../components/componentes_remi/seccion_remi.astro";
---

<Layout>
  <main>
    <div class="max-w-4xl mx-auto mt-4 p-4 space-y-4 mb-16">
      <h1 class="text-2xl font-bold mb-4">Envíos</h1>

      <div class="author_guidelines" id="authorGuidelines">
        <h2>Directrices para autores/as</h2>
        <p>
          <strong
            >Para envío de trabajos deben hacerse considerando las siguientes
            instrucciones:</strong>
        </p>
        <ul>
          <li>
            Enviar al correo revista.occidente@ues.edu.sv, los manuscritos
            fechas con al asunto: “Trabajo de publicación en Revista
            Multidisciplinaria de Investigación”
          </li>
        </ul>
        <p>&nbsp;</p>
        <ul>
          <li>
            El manuscrito debe ser enviado en formato de Word, con letra Times
            New Roman 12 e interlineado 1.5. El margen superior a 2.54 cm,
            margen izquierdo 3.0 cm, margen inferior 2.54, cm y margen derechos
            2.54 cm
          </li>
        </ul>
        <p>&nbsp;</p>
        <ul>
          <li>
            <span style="font-size: 0.875rem;"
              >El manuscrito debe ir acompañado de una declaración jurada, donde
              el autor o autores, establezcan la originalidad del trabajo y qué
              no ha sido publicado en otra revista, ni se encuentra en
              evaluación</span
            ><span style="font-size: 0.875rem;">
              También, debe expresar el tipo de manuscritos al que se refieren</span>
          </li>
          <li>
            <span style="font-size: 0.875rem;"
              >El autor debe enviar una breve biografía de su carrera
              profesional, filiación institucional y registro</span>
          </li>
        </ul>
        <p>&nbsp;</p>
        <ul>
          <li>
            Si el artículo contiene tablas, gráficos o imágenes, enviar en
            anexo, los formatos editables en Excel, JPG u otros
          </li>
        </ul>
        <p>&nbsp;</p>
        <ul>
          <li>
            El formato de citas a utilizar será APA séptima edición,
            considerando las aristas que conlleva este <span
              style="font-size: 0.875rem;"
              >sistema de referenciación, el cual se base en el sistema
              autor-fecha, para dar cuenta de la inclusión
            </span><span style="font-size: 0.875rem;"
              >de una cita en el texto y los datos completos de las fuentes en
              el apartado de referencias</span>
          </li>
        </ul>
        <p>&nbsp;</p>
        <ul class="mb-4">
          <li>
            <strong
              ><span  style="font-size: 0.875rem;"
                >ORCID: Los autores deben incluir dentro de su artículo su
                código de identificación ORCID. Sitio para poder crearlo
                https://orcid.org/&nbsp;</span
              ></strong>
          </li>
        </ul>
        <p>
          <strong
            ><span style="font-size: 0.875rem;">Política antiplagio&nbsp;</span
            ></strong>
        </p>
        <p>
          Los/as autores/ que envíen trabajos académicos están obligados a no
          cometer plagio. Por plagio se entiende la apropiación de textos,
          ideas, conceptos, imágenes, etc., de otros autores/as sin su
          consentimiento o que teniendo el consentimiento de los autores no se
          cite la fuente. Agregado a lo anterior, debe aclararse que para la
          citación de fuentes se debe hacer uso del estilo de citación APA
          séptima edición para todos los géneros académicos. De igual manera,
          los autores se comprometen a no incluir en los textos postulados otros
          textos ya creados por ellos mismos, evitando que exista más de un 20 %
          de coincidencia entre un texto previo y el postulado o con trabajos de
          otros autores.
        </p>
        <p>&nbsp;</p>
        <p>
          El nivel de coincidencia máximo aceptado es de un 25%. Para comprobar
          dicho nivel de coincidencia, los/las editores/as de la revista hacen
          uso de herramientas antiplagio. En caso de que un documento supere el
          nivel establecido, se hará una revisión exhaustiva de las fuentes
          citadas a fin de comprobar el plagio, lo cual es motivo de rechazo
          inmediato del texto, comunicando al autor la causa del cierre del
          proceso editorial.
        </p>
        <p>&nbsp;</p>
      </div>

      <div >
        <h2 class="font-bold mb-4">Lista de comprobación para la preparación de envíos</h2>
        <p>Todos los envíos deben cumplir los siguientes requisitos.</p><ul>
          <li>
            El envío no ha sido publicado previamente ni se ha sometido a
            consideración por ninguna otra revista (o se ha proporcionado una
            explicación al respecto en los Comentarios al editor/a).
          </li><li>
            El archivo de envío está en formato OpenOffice, Microsoft Word, RTF
            o WordPerfect.
          </li><li>
            Siempre que sea posible, se proporcionan direcciones URL para las
            referencias.
          </li><li>
            El texto tiene interlineado sencillo; 12 puntos de tamaño de fuente;
            se utiliza cursiva en lugar de subrayado (excepto en las direcciones
            URL); y todas las ilustraciones, figuras y tablas se encuentran
            colocadas en los lugares del texto apropiados, en vez de al final.
          </li><li>
            El texto se adhiere a los requisitos estilísticos y bibliográficos
            resumidos en las <a
              href="https://revistas.ues.edu.sv/index.php/remi/about/submissions#authorGuidelines"
              target="_new"
              class="text-blue-500 hover:underline">Directrices del autor/a</a
            >, que aparecen en Acerca de la revista.
          </li>
        </ul>
      </div>

      <div >
        <h2 class="font-bold mb-4">Artículos</h2>
        Política de sección por defecto
      </div>

      <div >
        <h2 class="font-bold mb-4">Aviso de derechos de autor/a</h2>
        <p>
          La REMI para efectos de propiedad intelectual, se encuentra bajo una
          licencia internacional Creative Commons Atribución-Sin Derivadas 4.0.<br
          />Se puede reproducir y copiar los artículos, siempre y cuando se
          reconozca la titularidad de los autores y la revista.
        </p>
      </div>

      <div  id="privacyStatement">
        <h2 class="font-bold mb-4">Declaración de privacidad</h2>
        <p>
          Los nombres y las direcciones de correo electrónico introducidos en
          esta revista se usarán exclusivamente para los fines establecidos en
          ella y no se proporcionarán a terceros o para su uso con otros fines.
        </p>
      </div>
    </div>
  </main>
</Layout>


<style>

  ul {
    list-style-type: disc;
    padding-left: 1.5rem;
  } 
</style>