---
import Layout from "../../layouts/Layout.astro";
import SeccionRemi from "../../components/componentes_remi/seccion_remi.astro";
---

<Layout>
  <main>
    <div class="max-w-4xl mx-auto mt-4 p-4 space-y-4">
      <h1 class="text-2xl font-bold mb-4">Sistema de revisión</h1>
      <p>
        La Revista Multidisciplinaria de Investigación dará por recibidos los
        manuscritos enviados por los autores, a través de una nota de remisión
        la cual podrá ser enviada al correo <a
         class="text-blue-500 hover:underline" href="mailto:revista.fmocc@ues.edu.sv">revista.fmocc@ues.edu.sv</a
        > o se podrá enviar en el sitio web de la revista.&nbsp;
      </p>
      <p>
        El comité editorial podrá Rechazar un artículo sin necesidad de entrar
        en la fase de arbitraje si se considera que el escrito no cumple normas
        básicas de publicación lo cual se notificará de inmediato al autor.
      </p>
      <p>
        <strong>Sistema de arbitraje</strong>:&nbsp;Los artículos que el Comité
        Editorial valore que cumplen los requerimientos básicos de publicación,
        serán sometidos a un proceso de revisión según el sistema de <strong
          >“pares” y “doble
        </strong>ciego”. Participarán al menos dos revisores externos al Comité
        Editorial de la revista y se recurrirá a una tercera persona experta en
        caso de que fuera necesario. Las personas evaluadoras serán
        especialistas en la materia que trata el manuscrito.
      </p>
      <p>
        <strong>Árbitros:</strong> A fin de garantizar la calidad científica de cada
        publicación y aplicar normas de buenas prácticas en publicaciones seriadas.
        En la revisión de cada texto se contará con dos árbitros especialistas en
        el área de estudio a la cual pertenezca el trabajo de investigación.
      </p>
      <p>
        <strong>La revisión de doble ciego</strong> consistirá en que tanto los autores
        como evaluadores estén en el anonimato. No obstante, las listas de evaluadoras
        y evaluadores que han colaborado en el proceso de revisión se publicarán
        periódicamente, previa autorización personal.
      </p>
      <p>
        <strong>Tiempo de respuesta:&nbsp;</strong>el tiempo máximo para dar una
        respuesta a los textos por parte de los árbitros será un máximo de 8
        semanas, periodo en el cual los revisores pueden proponer correcciones y
        hacer observaciones al texto, con el objetivo que sean debidamente
        atendidas por los autores.
      </p>
      <p>
        <strong>Dictamen final:</strong> El comité Editorial tendrá en cuenta los
        dictámenes de los evaluadores para tomar la decisión de publicación o rechazo
        de cada artículo u otro tipo de texto. Las decisiones posibles serán las
        siguientes:
      </p>
      <p>
        <strong>1.Aprobado íntegramente</strong>: para lo cual, solo se someterá
        a la revisión filológica posterior.
      </p>
      <p>
        <strong>2.Aprobado, con observaciones</strong>: en este caso, el autor/
        es, deberán superar las observaciones y a partir de la consideración del
        Comité Editorial, se dará por aprobado o rechazado.
      </p>
      <p>
        <strong>3.Rechazado:</strong> cuando los evaluadores no aprueben el trabajo,
        el Comité Editorial dará por rechazado el trabajo, por no cumplir aspectos
        mínimos de contenido para su publicación.
      </p>
      <p>
        En caso de que un evaluador lo apruebe y el otro no, el Comité Editorial
        podrá enviar a un tercer evaluador para considerar la situación y
        determinar el dictamen final.
      </p>
      <p>&nbsp;</p>
    </div>
  </main>
</Layout>
