---
import Layout from "../../layouts/Layout.astro";
import SeccionRemi from "../../components/componentes_remi/seccion_remi.astro";
---

<Layout>
    <main>
        <div class="max-w-4xl mx-auto mt-4 p-4">
            <h2 class="text-2xl font-bold mb-4">Sobre la Revista</h2>
            <p class="mb-4">
                La Revista Multidisciplinaria de Investigación (REMI) es una
                revista científica que nace en el año 2022, elaborada en la
                Facultad Multidisciplinaria de Occidente, de la Universidad de
                El Salvador, y que forma parte del Centro de Investigación
                Multidisciplinaria (CIMU-FMOcc).
            </p>
            <p>
                REMI, publica trabajos académicos, productos de investigaciones
                científicas, estados del arte, ensayos académicos y otros
                trabajos, para la discusión y debates de problemáticas de
                diversos campos, de ahí el carácter multidisciplinario que
                distingue a la publicación. La REMI, pretende contribuir desde
                el ámbito académico, a la discusión de problemáticas de carácter
                multidisciplinar a nivel regional, nacional e internacional,
                convergiendo en una comunidad de conocimiento que aporte, con
                perspectiva científica y rigor académico, a los debates actuales
                y potenciales de los entornos mencionados.
            </p>

            <p class="py-4"><b>Objetivo de la Revista</b></p>
            <p>
                REMI aspira lograr ser una revista de reconocimiento académico
                nacional e internacional, a partir de incorporar los criterios
                de calidad que distinguen una revista científica, y qué son
                requeridos por los diversos indexadores, para asignar mayor
                impacto académico y difusión nacional e internacional. El idioma
                utilizado en la revista es el castellano, sin embargo, se
                admitirán trabajos en inglés y portugués.
            </p>

            <p class="py-6">
                <b
                    >REMI es una revista de Acceso Abierto, semestral, gratuita,
                    revisada por pares evaluadores, que acepta de forma continua
                    manuscritos de carácter multidisciplinario, sin costo de
                    publicación para los autores.</b>
            </p>
            <a
                href="http://creativecommons.org/licenses/by-nc/4.0/"
                rel="license"
                class="text-blue-600 hover:text-blue-800 underline"
                ><img
                    src="/remi/creativecommon.png"
                    alt="Descripción de la imagen"
                    class="my-4"
                /></a
            >

            <p class="pb-26">
                <b
                    >Revista Multidisciplinaria de Investigación por <a
                        href="sobre_la_revista"
                        class="text-blue-600 hover:text-blue-800 underline"
                        >Facultad Multidisciplinaria de Occidente, Universidad
                        de El Salvador</a
                    >, se distribuye bajo una <a
                        href="http://creativecommons.org/licenses/by-nc/4.0/"
                        rel="license"
                        class="text-blue-600 hover:text-blue-800 underline"
                        >Licencia Creative Commons Atribución-NoComercial 4.0
                        Internacional</a
                    ></b>
            </p>
        </div>
    </main>
</Layout>
